html {
  font-family: 'Merriweather', serif;
}

body {
  max-width: 40em;
  margin: 40px auto 10px;
	padding: 0 15px;
	color: #333;
}

h1 {
  font-size: 1.6em;
  margin-bottom: 0;
}

p, li {
  line-height: 1.8;
	font-size: 1em;
}

img {
  max-width: 100%;
  height: auto;
}

nav #logo{
  float: left;
  margin-top: -1.2em;
}

nav {
  text-align: right;
}

nav a {
  text-align: right;
  margin: 0.5em;
}

header h1 {
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
	position: relative;
}

header h2 {
  color: #BBB;
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.subtitle{
  margin: 0;
}

.figure {
  margin: 2em auto 2em auto;
  text-align: center;
}

.caption {
  margin-top: 0.5em;
  line-height: 1.4em;
  font-size: 0.9em;
  color: #777;
}

footer {
	padding-bottom: 2em;
}

a {
	color: #386BFB;
	text-decoration: none;
}


#post-list {
  list-style-type: none;
  padding-left: 0;
}

#post-list a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  border-bottom: 0.1em solid #DDD;
  color: #222;
}

#post-list a:hover {
  border-bottom: 0.1em solid #888;
}

#post-list .dates {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  font-weight: 400;
  margin-top: 0.1em;
  float: right;
  position: relative;
  color: #BBB;
}


pre {
	padding: 0.5em 0.5em 0 0;
}

code {
  font-family: 'Source Code Pro', monospace;
	background-color: rgb(250, 250, 250);
}

blockquote {
  border-left: 3px solid #999;
  padding-left: 1em;
  margin-left: 1em;
  color: #999;
  font-style: italic;
}


.hljs {
 display:block;
 overflow-x:auto;
 padding:0.5em;
 color:#333;
 background:#f8f8f8;
 font-size: 0.9em;
}
.hljs-comment,.hljs-quote {
 color:#998;
 font-style:italic
}
.hljs-keyword,.hljs-selector-tag,.hljs-subst {
 color:#333;
 font-weight:bold
}
.hljs-number,.hljs-literal,.hljs-variable,.hljs-template-variable,.hljs-tag .hljs-attr {
 color:#008080
}
.hljs-string,.hljs-doctag {
 color:#d14
}
.hljs-title,.hljs-section,.hljs-selector-id {
 color:#900;
 font-weight:bold
}
.hljs-subst {
 font-weight:normal
}
.hljs-type,.hljs-class .hljs-title {
 color:#458;
 font-weight:bold
}
.hljs-tag,.hljs-name,.hljs-attribute {
 color:#000080;
 font-weight:normal
}
.hljs-regexp,.hljs-link {
 color:#009926
}
.hljs-symbol,.hljs-bullet {
 color:#990073
}
.hljs-built_in,.hljs-builtin-name {
 color:#0086b3
}
.hljs-meta {
 color:#999;
 font-weight:bold
}
.hljs-deletion {
 background:#fdd
}
.hljs-addition {
 background:#dfd
}
.hljs-emphasis {
 font-style:italic
}
.hljs-strong {
 font-weight:bold
}